pulsaraGNDmedidoR100.jpg
pulsaraGNDmedidoCondensador.jpg
pulsaraGNDsincondesador.jpg
pulsaraGNDsincondesador2.jpg
soltarPulsador1.jpg
soltarPulsador2.jpg
pulsaraGNDmedidoCond2.jpg
CMM_BML_Taller_P_R2023_CL23v2.pptx
